/aplicacion1/build
/aplicacion2/build
/aplicacion3/build
/aplicacion4/build
/aplicacion5/build
/aplicacion6/build
/simulaciones_articulo/aplicacion3/build
/simulaciones_articulo/aplicacion4/build
/processed_output3/aplicaion6/output_proton/output_particles_30000Mev_proton.csv
/processed_output3/aplicaion6/output_neutron/output_particles_30000Mev_neutron.csv
processed_output3/aplicaion6/output_neutron/output_particles_30000MeV_neutron.csv
processed_output3/aplicaion6/output_proton/output_particles_30000MeV_proton.csv


